<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="false">

  <variable name="logDir" value="${configsetting:LogDir:default=/app/log}"/>

  <variable name="layout" value="${longdate} ${level:uppercase=true} ${logger} - ${message}"/>
  
  <targets>
    <target name="Console" xsi:type="Console" layout="${layout}"/>
    <target name="File" xsi:type="File" layout="${layout}"
            fileName="${logDir}/${configsetting:AppName}-${shortdate}.log"
            archiveFileName="${logDir}/${configsetting:AppName}-{#}.log"
            archiveEvery="Day"
            maxArchiveFiles="5"
            maxArchiveDays="7"
            encoding="utf-8"/>
  </targets>

  <rules>
    <logger name="*" minlevel="${configsetting:Logging.LogLevel.Default}" writeTo="Console" />
    <logger name="*" minlevel="${configsetting:Logging.LogLevel.Default}" writeTo="File" />
  </rules>
  
</nlog>